/* Form index */

.main-form-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100vh;
}

.main-form-index__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border: 2px solid #443385;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: -6px 7px 0px 0px #ccc;
}

.index__form-input {
    outline: none;
    border: none;
    border-bottom: 1px solid #5c29db;
}

.index__form-input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.index__form-input-btn {
    padding: 1rem;
    color: white;
    background-color: #443385;
    margin-top: 1rem;
    box-shadow: -3px 4px 0px 0px #ccc;
}

.index__labels-form {
    color: #5c29db;
}

/* Form index */

/* Form account */

.body-form-account {
    background-color: rgb(229, 229, 229);
}

.main-form-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-form-account__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    background-color: rgb(255, 255, 255);
}
    

.header-top-account {
    border: 1px solid rgb(237, 237, 237);
    background-color: rgb(237, 237, 237);
    padding: 2rem;
    width: 20vw;
    text-align: center;
    margin-top: 0;
}

.account__form-input {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 2rem;
    padding-left: 1rem;
}

.account__labels-form{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 10px;
}

.header-bottom-account {
    text-align: center;
}

.account__form-input-btn {
    padding: 1rem;
    color: black;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 10rem;
    margin-left: 1rem;
    margin-right: 1rem;
    
}

/* Form account */

/* Form train */

.body-form-train {
    background-color: rgb(229, 229, 229);
}

.main-form-train {
    height: 100vh;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-top-train {
    background-color: rgb(206, 206, 206);
    padding: 1rem;
    text-align: center;
    margin: 0;
}

.wrapper__form--top {
    display: flex;
}

.wrapper__form--top-left {
    display: flex;
    flex-direction: column;
}

.wrapper__form--top-right {
    display: flex;
    flex-direction: column;
}

.form__header-bottom--left {
    background-color: rgb(240, 18, 18);
}

.form__header-bottom--left > h3 , h6 {
    margin: 0;
}

.form__header-bottom--right {
    background-color: rgb(240, 18, 18);
}

.form__header-bottom--right > h3 , h6 {
    margin: 0;
}

.train__form-select {
    width: 9vw;
    height: 2vh;
    border-radius: 5px;
}

.main-form-train__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.train__form-input {
    border-radius: 5px;
    height: 2vh;
}

input[type=checkbox] {
    margin: 0;
}

input[type=submit] {
   background-color: rgb(0, 0, 0);
   color: white;
   height: 3vh;
   border-radius: 5px;
}

/* Form train */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

